* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.background {
    background-image: url("assets/bg.jpg");
    background-size:   cover;                     
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.answer {
    padding: 50px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 6em;
    color: white;
    font-family: Helvetica, Arial, sans-serif;
    position: absolute;
    text-shadow:  1px  1px 1px black,
                  1px -1px 1px black,
                 -1px  1px 1px black,
                 -1px -1px 1px black;
}

.question {
    font-size: 0.45em;
}
